/* .App {
  width: 600px;
  margin: auto;;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 16px;
  padding: 20px;
}

.grid-item {
  background-color: #fefefe;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.thermal-receipt {
  width: 58mm;
  font-family: monospace;
  font-size: 11px;
  padding: 10px;
  line-height: 1.4;
}



